body {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  font-family: 'Poppins';
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
}

.popup {
  align-items: flex-end;
  background-color: rgb(237, 237, 237);
  border-radius: 10%;
  display: none;
  height: 40%;
  justify-content: center;
  position: relative;
  width: 60%;
  z-index: 2;
}

.button {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 6%;
  cursor: pointer;
  font-style: none;
  font-family: 'Archivo Narrow', sans-serif;
  height: 30px;
  width: 100px;
}
.button:hover {
  background-color: #1e293b;
  color: #fff;
  transition: 0.2s;
}
.button:nth-child(1) {
  margin-bottom: 20px;
}

.button:nth-child(2) {
  position: absolute;
  right: 5%;
  top: 5%;
}

.show-popup-button {
  background-color: #fff;
  border: none;
  border-radius: 6%;
  border: 1px dashed black;
  cursor: pointer;
  font-family: 'Archivo Narrow', sans-serif;
  height: 30px;
  width: 100px;
  position: absolute;
  z-index: 1;
}
.show-popup-button:hover {
  border: 1px solid black;
}
